:root{
    --background-color-yellow:#ffcc29;
}
html{
    scroll-behavior: smooth;
    /* overflow-y: scroll; */
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

span{
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

button{
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

h2{
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
