*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex
}

.ladoEsquerdo {
    /* border: 2px solid blue; */
    height: 100vh;
    width: 90%;
}