.header{
    display: flex;
    align-items: center;
    background-color: #ffcc29;
    padding: 10px;
}

.header .container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.beehive_home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.beehive_logo{
    width: 40px;
    height: 40px;
}

.banner .container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.banner{
    height: 500px;
    background: linear-gradient(#ffcc29, #fcc100); 
    display: flex;
    justify-content: flex-end;   
}

.beehive_banner_img{
    width: 400px;
    height: 400px;
}

/*.navbar ul {
    display: flex;
    list-style-type: none;
    width: 400px;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}
/*.item-navbar{
    background-color: white;
    border: 1px solid black;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 4px 20px 2px rgb(0, 0, 0, 0.2);
}*/

/*.item-navbar:hover{
    background-color: black;
    color: white;
}*/

button{
    width: 90px;
    height: 35px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 2px 4px 40px 2px rgb(0, 0, 0, 0.2);
}

button:hover{
    color: #ffcc29;
}

.item-navbar-icon{
    width: 25px;
    height: 25px;
    padding-top: 5px;
}

.title-banner{
    width: 60%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.p1-banner{
    font-size: 75px;
    color: black;
    margin: 0;
}

.p2-banner{
    width: 350px;
    font-size: 35px;
    color: black;
    margin: 20;
}

.itens-icons-banner{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.icon-banner{
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.img-banner-destaque{
    width: 400px;
    height: 400px;
}

.div-button-banner button{
    width: 150px;
}

/*.post-banner{
    border: 0;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}*/