body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(108.6deg, #FEFFFA 11.64%, rgba(255, 204, 41, 0.95) 103.5%);
}

.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    height: 70%;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 2px 4px 20px 2px rgb(0, 0, 0, 0.5);
    background-color: white;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(238, 207, 106)180%);
}

.form-logo-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.form-logo-icon p{
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    margin-left: 15px;
}

.form-logo-icon img{
    width: 50px;
    height: 50px;
    transition: all 0.6s  cubic-bezier(0.125, 0.54, 0.24, 1);
}
img:hover{
    transform: scale(1.10,1.10);
    transition: all 0.3s;
}

.form-title-cadastro{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.form-elements{
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.campoCadastro1{
 margin-top: 35px;
}
.campoCadastro2{
    margin-top: 20px;
   }


.elements-cadastro{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.image-cadastro img{
    width: 320px;
    height: 320px;
}

.input-form{
    border: none;
    width: 300px;
    border-bottom: 1px solid #D2CACA;
    font-size: 18px;
    outline: none;
    margin: 15px;
    background-color: transparent;
}

.button_icone{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/* #button{
    margin-top: 60px;
} */

.button-form{
    width: 100px;
    height: 35px;
    background-color: #35342F;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border: none;
    margin-left: 10%;
    font-style: normal;
    font-weight: 275px;
}


.button-form-proximo{
    width: 150px;
    height: 46px;
    background-color: #35342F;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 275px;
    outline: none;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 20px;
}

#botaoAnteriorEtapa{
    margin-top: 30px;
    width: 100px;
    height: 45px;
}
.link-entrar{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.divPossuiConta{
    margin-left: 50px;
}

#botaoProximaEtapa2{
    width: 140px;
    height: 45px;
}

#botaoCadastrar{
    width: 140px;
    height: 45px;
}

button{
    transition: all 0.3s;
}

button:hover{
    color: #FFCC29;
    transition: all 0.3s;
}


