*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
}

.components-navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:10px;
    flex-direction: column;
}

.itens-navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-navbar{
    background-color:#35342F;
    color: white;
    border-radius: 3px;
    width: 130px;
    height: 30px;
    outline: none;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}

.img-navbar{
    width: 45px;
    height: 45px;
}

.filter{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

th{
    background-color: #EDF2F7;
}

table{
    width: 100%;
    height: 150px;
    text-align: center;
    border: 1px solid #e4eef8;
    border-bottom: none;
    border-radius: 3px;
}

td{
    border-bottom: 1px solid #e4eef8;
}

.button-table{
    width: 50px;
    height: 40px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.editar{
    background-color: green;
}

.excluir{
    background-color: red;
}

.itens-table{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.button-table:hover{
    background-color: black;
    transition: 0.5s;
}

.new{
    background-color:#35342F;
    color: white;
    border-radius: 3px;
    width: 80px;
    font-size: 16px;
    height: 35px;
    outline: none;
    border: none;
    cursor: pointer;
}

.campos-search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 5%;
}

.campos-search input{
    outline: none;
    border: 1px solid #acafb3;
    border-radius: 3px;
    height: 35px;
    padding-left: 5px;
    margin-right: 2%;
}

.campos-search input::placeholder{
    padding-left: 5px;
    color: #acafb3;
}

.icon-button-editar{
    width: 28px;
    height: 28px;
}

.icon-button-deletar{
    width: 28px;
    height: 28px;
}

.div-inputs-Suporte{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 2px;
}

.inputs-Suporte{
    width: 100%;
    border: none;
    border: 1px solid #4d4d4d93;
    height: 25px;
    border-radius: 3px;
    outline: none;
    height: 30px;
    margin-top: 5%;
    margin-left: 1%;
    padding-left: 5px;
}


#divModalSuporte{
    width: 40%;
    height: 330px;
    background-color: white;
    border-radius: 2px;
    margin-top: 30%;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 20px 2px rgb(0, 0, 0, 0.2);
}

.cadastrar-Suporte{
    margin-top: 5%;
    outline: none;
    background-color: #35342F;
    color: white;
    width: 90%;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 4px 40px 2px rgb(0, 0, 0, 0.2);
}

.EditarSuporte{
    margin-top: 5%;
    outline: none;
    background-color: #35342F;
    color: white;
    width: 90%;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 4px 40px 2px rgb(0, 0, 0, 0.2);
}

.fecharModalSuporte{
    background-color: red;
    border: 1px solid red;
    color: white;
    outline: none;
    cursor: pointer;
    height: 30px;
    width: 32px;
    margin: 10px;
    border-radius: 2px;
}

.fecharModalSuporte p{
    margin: 0;
    font-size: 15px;
}

.text-modal-Suporte p{
    margin: 0;
    font-size: 18px;
}

.button-position{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.conteudo-modal{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 90%;
}




.modals-suporte-Editar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-inputs-Suporte-Editar{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.inputs-Suporte-Editar{
    width: 100%;
    border: none;
    border: 1px solid #4d4d4d93;
    height: 25px;
    border-radius: 3px;
    outline: none;
    height: 30px;
    margin-left: 5px;
    margin-top: 2%;
    padding-left: 5px;
}

.button-position-Editar{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.conteudo-modal-Editar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

#divModalSuporteEditar{
    width: 40%;
    height: 330px;
    background-color: white;
    border-radius: 2px;
    margin-top: 30%;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 20px 2px rgb(0, 0, 0, 0.2);
}

.EditarSuporte{
    margin-top: 5%;
    outline: none;
    background-color: #35342F;
    color: white;
    width: 90%;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 4px 40px 2px rgb(0, 0, 0, 0.2);
}

.EditarSuporte:hover{
    background-color: #FFCC29;
    color: black;
}

.fecharModalSuporteEditar{
    background-color: red;
    border: 1px solid red;
    color: white;
    outline: none;
    cursor: pointer;
    height: 30px;
    width: 32px;
    margin: 10px;
    border-radius: 2px;
}

.fecharModalSuporte-Editar p{
    margin: 0;
    font-size: 15px;
}

.text-modal-Suporte-Editar{
    text-align: center;
}

.text-modal-Suporte-Editar p{
    margin: 0;
    font-size: 18px;
}