
body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    background-color: #EF3A5D;
}

.header .container{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.beehive_home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.beehive_logo{
    width: 40px;
    height: 40px;
}

.p_beehive{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}

.banner .container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.banner{
    height: 400px;
}

.beehive_banner_img{
    width: 400px;
    height: 400px;
}