:root{
    --background-color-yellow:#ffcc29;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(108.6deg, #FEFFFA 11.64%, rgba(255, 204, 41, 0.95) 103.5%);
    

}

.painel-login{
   
margin-left: 26vw;
margin-top: 15vw;
width: 50vw;
height: 60vh;
background: #FFFF;
border: 2px solid rgba(0, 0, 0, 0.17);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
display: flex;
align-items: center;

}
.form{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    margin-top: 20px;
}

#div_gradient{
    height: 100%;
    background-color: white;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(238, 207, 106)180%);
border-radius: 4px 10px 10px 4px;
}
#imgLogin{
    margin-top: 18%;
}
#imgLogin:hover{
    transform: scale(1.10,1.10);
    transition: all 0.3s;
}
.form input{
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
     border-bottom: 0.4px solid #D2CACA;
     width: 15vw;
}

.form-logo-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


#btnEntrar{
    margin-top: 20px;
    background: #35342F;
    border-radius: 32px;
    width: 9vw;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

#btnEntrar:hover{
    background-color: #FFCC29;
}

#btnEntrar p:hover{
    color: black;
}


#btnEntrar p{
    font-family: 'Inter';
font-style: normal;
font-size: 15px;
color: #ffffff;
padding: 5px;

    
}


.link-cadastro{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link-cadastro:hover{
    color: #ffcc29;
}

#entrar h2{
    color: black;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 12px;

color: #35342F;
}

.logo{
    width: 40%;
    margin-top: -110px;
    margin-right: 45%;
}
.logo a{
   font-weight: bold;
}

.button_icone{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position:block;
}
#inputEmailLogin{
    margin-right: 30px;
}