body {
    background-color: #F9F9F9;
}

.background {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.background .content {
    width: 98%;
}

.informationAndInputs {
    margin-top: -5%;
    height: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
}

.iconBack {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    color: black;
}

.iconBack i {
    color: black;
}

.informationAndInputs select {
    width: 20%;
    cursor: pointer;
    outline: none;
    padding: 0.3% 3% 0.3% 1%;
    font-size: 1.1rem;
    border-radius: 30px;
    border: 1px solid #EFF0F6;
    margin-right: 3%;
}

.botoes {
    height: 30%;
    background-color: #35342F;
    border-radius: 4px;
    margin-right: 20px;
    border: none;
}

.botoes.btn-download{
    height: 35px;
}

.botoes:hover {
    color: #35342F;
    border-radius: 4px;
    margin-right: 20px;
    background-color: #FFCC29;
}

.botoes a {
    padding: 15px;
    padding-top: 30px;
    color: white;
    text-decoration: none;
}

.botoes a:hover {
    color: black;
}

/*  */

.cardAndChartBackground {
    width: 60%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardInfoMaquinaBackground {
    width: 40%;
    height: 88vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
}

.cardInfoMaquinaBackground .content {
    margin-top: 2%;
    width: 100%;
    /* height: 98%; */
    height: 48vh;
    background-color: white;
    border: 1px solid #EFF0F6;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 4px 20px 2px rgb(0, 0, 0, 0.2);
    /* gap: 1%; */
}

.cardInfoMaquinaBackground .content h2 {
    margin: 0;
    margin-top: 1%;
    
}

.cardInfoMaquinaBackground .content .infosMaquina {
    width: 90%;
    height: 60%;
    margin-top: 5px;
    margin-bottom: 20px;
    gap: 1%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.cardInfoMaquinaBackground .content .infosMaquina .itemInfoMaquina {
    width: 100%;
    /* height: 84%; */
    /* margin-bottom: 18px; */
    background: #FFFFFF;
    /*border-bottom: 1px solid gainsboro;*/
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 5%; */
    color: #4D4D4D;
    margin: 5px;
}

.cardInfoMaquinaBackground .content .infosMaquina .itemInfoMaquina h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}

.cardInfoMaquinaBackground .content .infosMaquina .itemInfoMaquina p {
    margin: 0;
    margin: auto;
    font-size: 15px;
    padding-bottom: 1%;
}

.cardInfoMaquinaBackground .content .activeTime {
    width: 100%;
    height: 0%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.5px solid black;
    border-radius: 0 0 20px 20px;
}

.cardInfoMaquinaBackground .content .activeTime h4,
h3 {
    margin: 0;
}

.cardInfoMaquinaBackground .content .activeTime h4 {
    color: #4D4D4D;
    font-weight: 300;
    margin-bottom: 0%;
    margin-top: 1%;
}

.cardInfoMaquinaBackground .content .activeTime h3 {
    font-weight: 900;
    font-size: 1.2rem;
}

/*  */

.lineChartBackground:nth-child(1) {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.lineChartBackground:nth-child(2) {
    width: 80%;
    height: 37.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.lineChartBackground:nth-child(3) {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.lineChartBackground .content {
    width: 98%;
    height: 100%;
    background-color: white;
    border: 1px solid #EFF0F6;
    border-radius: 3px;
    box-shadow: 2px 4px 20px 2px rgb(0, 0, 0, 0.2);
}

.lineChartBackground .content .infosOfLineChart {
    width: 90%;
    margin: auto;
    height: 20%;
    display: flex;
    align-items: center;
    border-bottom: 0.8px solid black;
    justify-content: space-between;
}

.lineChartBackground .content .infosOfLineChart h3 {
    margin: 0;
    color: black;
    font-size: 1rem;
}

.lineChartBackground .content .infosOfLineChart span {
    margin: 0;
    color: #0F2552;
    font-size: 1rem;
    font-weight: 700;
}

.lineChartBackground .content .infosOfLineChart .selects {
    display: flex;
    align-items: center;
    gap: 3%;
}

.lineChartBackground .content .infosOfLineChart .selects select {
    outline: none;
    background-color: none;
    border: none;
    cursor: pointer;
    color: #0F2552;
    font-size: 1rem;
    font-weight: 700;
}

.chartline {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartPizza {
    align-items: center;
    justify-content: center;
    width: 32%;
    font-size: 1rem;
    margin: auto;
}


/* Parte que contém a porcentagem dos componentes / processos e os serviços */

.bottomPart {
    width: 100%;
    display: flex;
    margin-top: 2%;
    margin-left: 0%;
}

.componentsAndProcessos {
    width: 25%;
}

.componentsAndProcessos .backgroundComponents {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backgroundComponents .background {
    width: 100%;
    display: flex;
    border: 1px solid #EFF0F6;
}

.backgroundComponents .background .content {
    width: 100%;
    height: 80%;
    display: flex;
    margin: auto;

}

.backgroundComponents .background .content .infoComponents {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.8px solid black;
}

.backgroundComponents .background .content .labelsComponents {
    width: 100%;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #87888C;
}

.backgroundComponents .background .content .labelsComponents p:nth-child(1) {
    width: 15%;
}

.backgroundComponents .background .content .labelsComponents p:nth-child(2) {
    width: 70%;
}


.h3-filtros{
    display: flex;
    justify-content: space-around;
}

.filtro-data{
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
    align-items: center;
    text-align: center;
}

.filtro-data h3{
    margin-right: 2%;
}

.menu {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dadosMenu {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

#dadosComponentesMenu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}

.dadosMenu.alertaverde{
    display: flex;
    justify-content: space-around;
    margin-right: 2%;
}

h3{
    margin: 0;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: row;
    float: left;
    
}

#dataReg{
    margin-right: 4%;
    display:block;
}


#alertas{
    margin-left: -30px;
}

@keyframes luzNormal {
    from {    box-shadow:
        0 0 3px #fff,
        0 0 16px #fff,
        0 0 9px #fff,
        0 0 12px rgb(110, 211, 28),
        0 0 15px rgb(110, 211, 28),
        0 0 18px rgb(110, 211, 28),
        0 0 21px rgb(110, 211, 28),
        0 0 24px rgb(110, 211, 28);}
        
        
    to { box-shadow:
        0 0 3px #fff,
        0 0 6px #fff,
        0 0 9px #fff,
        0 0 12px rgb(51, 161, 8),
        0 0 15px rgb(51, 161, 8),
        0 0 18px rgb(51, 161, 8),
        0 0 21px rgb(51, 161, 8),
        0 0 24px rgb(51, 161, 8);}
  }

@keyframes luzAlerta {
    from {    box-shadow:
        0 0 3px #fff,
        0 0 16px #fff,
        0 0 9px #fff,
        0 0 12px rgb(235, 232, 89),
        0 0 15px rgb(235, 232, 89),
        0 0 18px rgb(235, 232, 89),
        0 0 21px rgb(235, 232, 89),
        0 0 24px rgb(235, 232, 89);}
        
        
    to { box-shadow:
        0 0 3px #fff,
        0 0 6px #fff,
        0 0 9px #fff,
        0 0 12px rgb(255, 153, 0),
        0 0 15px rgb(255, 153, 0),
        0 0 18px rgb(255, 153, 0),
        0 0 21px rgb(255, 153, 0),
        0 0 24px rgb(255, 153, 0);}
  }

@keyframes luzCritica {
    from {    box-shadow:
        0 0 3px #fff,
        0 0 16px #fff,
        0 0 9px #fff,
        0 0 12px rgb(230, 106, 5),
        0 0 15px rgb(230, 106, 5),
        0 0 18px rgb(230, 106, 5),
        0 0 21px rgb(230, 106, 5),
        0 0 24px rgb(230, 106, 5);}
        
        
    to { box-shadow:
        0 0 3px #fff,
        0 0 6px #fff,
        0 0 9px #fff,
        0 0 12px rgb(255, 0, 85),
        0 0 15px rgb(255, 0, 76),
        0 0 18px rgb(255, 0, 55),
        0 0 21px rgb(255, 0, 21),
        0 0 24px rgb(255, 0, 0);}
  }